.desc {
  font-size: 1.2em;
}

.container {
  margin: 0 1em;
  margin-top: 15vh;
}

.img--about {
  width: 80vw;
  margin: 2em;
}

.flex-img {
  display: flex;
  justify-content: center;
}

.heading {
  margin: 3em 0;
  margin-bottom: 0.2em;
  font-family: primary;
  font-size: 2.5em;
}

.heading::after {
  content: " ";
  margin-top: 5px;
  display: block;
  height: 3px;
  width: 100%;
  background-color: var(--secondary);
}

.subhead {
  color: var(--secondary);
  margin: 1em 0;
  font-size: 1.7em;
}

@media screen and (min-width: 950px) {
  .heading {
    font-size: 4em;
  }

  .container {
    margin: 0;
  }
  .subhead {
    font-size: 2.5em;
  }
  .img--about {
    width: 90vw;
    height: 50vh;
    object-fit: cover;
  }
}
