
html {
  scroll-behavior:smooth;
  background-color:#f1f1f1;
}
/* font-selection */
@font-face {
  font-family: algerian;
  src: url(../fonts/ALGER.ttf);
}
@font-face {
  font-family: primary;
  src: url(../fonts/Gilroy-ExtraBold.otf);
}
@font-face {
  font-family: secondary;
  src: url(../fonts/AvertaDemo-Regular.otf);
}
@font-face {
  font-family: primary;
  src: url("//db.onlinewebfonts.com/t/12ca6eb8a45b8ac406fb5a09bb9daab2.eot");
  src: url("//db.onlinewebfonts.com/t/12ca6eb8a45b8ac406fb5a09bb9daab2.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/12ca6eb8a45b8ac406fb5a09bb9daab2.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/12ca6eb8a45b8ac406fb5a09bb9daab2.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/12ca6eb8a45b8ac406fb5a09bb9daab2.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/12ca6eb8a45b8ac406fb5a09bb9daab2.svg#Lyon Display Web Black")
      format("svg");
}
@font-face {
  font-family: quotetext;
  src: url(../fonts/Gilroy-ExtraBold.otf);
}
/* body styling */
:root {
  --primary: #313131;
  --secondary: tomato;
  --background: #f1f1f1;
}

body {
  margin: 0;
  min-height: 2500px;
  font-family: 'Montserrat', sans-serif;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0em;
  left: 0em;
  right: 0em;
  z-index: 5;
}

.nav--scrolled {
  background-color: var(--background);
  /*background-color: transparent;*/
}
.logo {
  height: auto;
  max-width: 5em;
}
.logo {
  width: 18vw;
  height: auto;
}
.hamburger {
  display: block;
  position: relative;
  padding: 16px 16px;
  margin: auto 0;
  top: 0em;
  right: 0em;
  user-select: none;
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  z-index: 5;
}
.hamburger span {
  display: block;
  width: 38px;
  height: 5px;
  margin-bottom: 5px;
  position: relative;
  background-color: var(--primary);
  border-radius: 6px;

  transform-origin: 0 0;
  transition: 0.4s;
}

.hamburger:hover span:nth-child(2) {
  transform: translateX(10px);
  background-color: var(--primary);
}

.hamburger.is-active span:nth-child(1) {
  transform: translate(0px, -2px) rotate(45deg);
}
.hamburger.is-active span:nth-child(2) {
  opacity: 0;
  transform: translateX(15px);
}

.hamburger.is-active span:nth-child(3) {
  transform: translate(-3px, 3px) rotate(-45deg);
}
.menu {
  display: flex;
}

.menuLists {
  background-color: var(--secondary);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
  transition: all 0.5s ease-in;
  z-index: 4;
  margin: 0;
  padding: 0;
}

.menuLists ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.menuLists ul li a {
  font-family: primary;
  color: var(--primary);
  text-decoration: none;
  font-size: 2em;
  line-height: 1.5em;
  /* border: 2px solid red; */
}
.menuLists ul li a:hover {
  color: var(--background);
}

.hidden {
  display: none;
}
.main-heading {
  /* color: rgb(170, 196, 255); */
 

  -webkit-text-fill-color: tomato;
  -webkit-text-stroke-color: var(--primary);
  -webkit-text-stroke-width: 0.8px;
}
.main-heading-over{
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: var(--primary);
  -webkit-text-stroke-width: 0.8px;
}
.container {
  max-width: 800px;
  margin: auto;
  width: 90%;
  padding: 10px 0px;
  position: relative;
}
 
.image-container {
 background-repeat: no-repeat;
  padding-bottom: 90%;
  margin-top:0;
  position: relative;
  overflow: hidden;
  z-index: 2;
  background-size: cover;
  background-position: center;
}
 
.section-title {
  margin: 0;
  font-size: 64px;
 font-family: algerian;
  width: 120%;
  text-align: center;
  position: absolute;
  top: 65%;
  left: -60%;
  transform: translateY(-60%);
  z-index: 1;
  white-space: nowrap;
}
.section-title.on-dark {
  color: tomato;
}
.section-title span {
  position: relative;
  display: block;
}
.paragraph{
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 20pt;
    /*font-family: Arail, Helvetica, sans-serif;*/
}
@media (max-width:750px) {
  .container {
    width: 60%;
  }
  .section-title {
    font-size: 20px;
  }
  .image-container{
    height:100px;
  }
  .paralax-title{
    left:15%;
    bottom:80%;
    font-size: larger;
  }
}
.dark {
  font-size: 1.5em;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  margin: auto 0.5em;
  background-color: rgb(156, 156, 156);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: var(--primary);
  transition: all 0.5s ease-in-out;
}

.dark:hover {
  background-color: rgb(179, 177, 177);
}

.dark--mode {
  transition: all 0.5s ease-in;
}
.vision{
    margin-top:100px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 3.5em;
 
  font-family: algerian;
  line-height: 1em;

  -webkit-text-fill-color: var(--secondary);
  -webkit-text-stroke-color: var(--primary);
  -webkit-text-stroke-width: 0.8px;
}
.quote {
  /* border: 2px solid red; */
  margin-top: 30px;
  text-align: center;
  font-family: quotetext;
  color: var(--primary);
  padding: 2em 0.8em;
  padding-top: 0;
  font-size: 25pt;
  letter-spacing: 5px;
}
.quote-highlight {
  font-style: bold;
  color: var(--secondary);
}

.dot {
  color: rgb(170, 196, 255);
}
.mission{
  
  margin-bottom: 40px;
  text-align: center;
  font-size: 3.5em;

font-family: algerian;
line-height: 1em;

-webkit-text-fill-color: var(--secondary);
-webkit-text-stroke-color: var(--primary);
-webkit-text-stroke-width: 0.8px;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}



.wrapper{
  margin-top: 60px;
  text-align: center;
}



.mission-main{
  width: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

.mission-main .mission-statement{
  width: 250px;
  margin: 5px;
  
  padding: 100px 10px;
}


.mission-statement{
    border-radius: 10%;
    background-color:tomato;
    border: 1px solid black;
    font-family: primary;
    text-align: center;
    margin-right: 50px;
    font-size: 17pt;
}
.footer-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.socialMediaLinks {
  font-size: 2em;
  padding: 1em 0;
  text-align: center;
  
}
.social {
  margin: 2em 0 0 1em;
  padding: 0 0.5em;
  text-decoration: none;
  color: var(--primary);
  transition: color 1s ease-in-out;
}
.social:hover {
  color: var(--secondary);
}
.addressContact {
  height: 50%;
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.address {
  padding: 0.5em 0;
  text-decoration: none;
  color: var(--primary);
  text-align: center;
  font-size: 1.2em;
  font-family: secondary;
}
.mobile,
.mail {
  padding: 0.5em 0;
  font-family: secondary;
  text-align: center;
  font-size: 1.2em;
  text-decoration: none;
  color: var(--primary);
}
.copyrights,
.fixit {
  text-align: center;
  font-size: 1em;
  max-width: 90vw;
  margin: 0.5em 0;
}
.fix-link {
  text-decoration: none;
  color: var(--secondary);
}
.fix-link:hover {
  color: var(--primary);
}
.copyrights {
  font-size: 1em;
  margin: 3em 0 0 3em;
}
