.container {
  margin: 0 1.5em;
}
.subhead {
  color: var(--secondary);
  margin: 1em 0;
  font-size: 1.7em;
}

.heading {
  margin: 3em 0;
  margin-bottom: 0.2em;
  font-family: primary;
  font-size: 2em;
}
.headingNoUnderline {
  margin: 3em 0;
  margin-bottom: 0.2em;
  font-family: primary;
  font-size: 2.5em;
  line-height: 0.5em;
}

.heading::after {
  content: " ";
  margin-top: 5px;
  display: block;
  height: 3px;
  width: 100%;
  background-color: var(--secondary);
}
.desc {
  margin: 2em 0;
  font-size: 1.2em;
}

.centerimg {
  margin: 0 auto;
}
img {
  width: 80vw;
}
.imgDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 950px) {
  .heading {
    font-size: 4em;
  }
  .headingNoUnderline {
    font-size: 4em;
  }

  .desc {
    font-size: 1.5em;
  }
  .container {
    margin: 0;
  }
  .subhead {
    font-size: 2.5em;
  }
  iframe {
    width: 50%;
    height: 50vh;
  }
  img {
    height: 50vh;
    object-fit: contain;
  }
}
